.para1 {
    color: rgb(32, 135, 61);
    font-style:italic 
}
.para2 {
    color: rgb(47, 32, 135);
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    background-color: aquamarine;
    background-blend-mode: color-dodge;
}
.para3 {
    color: rgb(216, 14, 199);
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 