/* .box1 {
    height: 400px;
    background-color: rgb(162, 0, 255);
    color: rgb(1, 1, 12);
    background-image: url("../Assets/download (1).jpg");
    background-repeat:no-repeat;
    /*background-position-x: 100px;*/
    /*background-position-y: 100px;*/
    /*background-position: 50%;*/
    /*background-size:cover;*/
    /*opacity: 1; */ /* 0-1*/
    
/*} 
#para1{
    opacity:0.6;
}*/

*{
    padding: 0px;
    margin: 0px;
}
.box2 {
    height: 300px;
    width: 700px;
    background-color: aqua;
   /* border: black ;
    border-width: 2px;
    border-style: solid;*/
    border: solid blue 5px;
    /*padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 10px 20px 10px 10px; /* T R B L */ 
    margin:20px 10px 30px 10px ; /* T R B L */
    border-radius: 30px;  
}


.box3 {
    height: 300px;
    width: 700px;
    background-color: rgb(119, 0, 255);
    margin: 5px 10px 5px 10px; /* T R B L */ 
    padding: 10px 5px 10px 5px; /* T R B L */ 
    color: rgb(253, 253, 253);
    border-top-width: 10px;
    border-left-width: 10px;
    border-bottom-width: 10px;
    border-right-width: 10px;

    border-top-style:solid ;
    border-left-style:dashed ;
    border-bottom-style:double ;
    border-right-style:dotted;

    border-top-color:red ;
    border-left-color:black ;
    border-bottom-color:rgb(0, 204, 255) ;
    border-right-color:yellow;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    


}


